@import "tailwindcss";
@tailwind utilities;

:root {
  --foreground: oklch(0.985 0 0);
  --background: oklch(0.205 0 0);
  --gray-background: oklch(0.556 0 0);
  --font-notoJP: "Noto Sans JP", sans-serif;
}

.nav-btn {
  border: 1px #80808040 solid;
  border-radius: 7px;
  padding: 8px 16px;
  margin-right: 5px;
}

button:hover {
  background-color: var(--background);
  color: var(--foreground);
  pointer-events: cursor;
}

.nova-header1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.nova-header2 {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  z-index: -10;
}

.description-hero {
  padding: 96px 64px;
}

.mask-title {
  padding: 96px 0px 0px;
}

.white-text-mask {
  will-change: transform;
}

.text-primary-foreground {
  background-color: black;
  padding: 96px 0px;
}

.app-container-wide {
  padding: 0px 32px;
}

.bg-primary {
  background-color: var(--background);
  padding: 20px;
  color: var(--foreground);
}

.bg-primary-h1 {
  padding: 24px 0px;
  margin: 0px 0px 12px;
  color: var(--foreground);
}

.bg-primary-p {
  color: var(--gray-background);
  font-size: 14px;
}

.bg-primary-h2 {
  font-size: 36px;
  color: var(--foreground);
  padding: 24px 0px;
  margin: 0px 0px 12px;
}

.bg-primary-p2 {
  color: var(--foreground);
  font-size: 16px;
  margin: 16px 0px
}

.bg-primary li {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* NO responsiveness yet */
.bg-primary li h3 {
  font-size: 30px;
  font-weight: bold;
}

.stats-span {
  font-size: 72px;
}

/* NO responsiveness yet */
.bg-primary li .p1 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  font-size: 20px;
  color: var(--foreground);
}

.bg-primary li .p2 {
  font-size: 19px;
  color: #737373
}

.benefits-container {
  background-color: oklch(0.205 0 0);
  padding: 80px 0px;
}

.inside-benefits {
  margin: 0px auto 20px;
  padding: 0px 20px;
  color: var(--foreground);
}

.inside-benefits h2 {
  font-size: 70px;
  font-weight: bolder;
  margin: 0px 0px 60px;
}

.circular-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  margin: 0px auto;
  text-align: center;
}

.circular-img h3 {
  font-weight: 700;
}

.circular-img img {
  display: flex;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  object-fit: cover;
  width: 280px;
}

footer {
  padding: 56px 50px 16px;
}

footer .first-row {
  margin: 0px 0px 40px
}

footer h3 {
  font: 40px;
}

.contacts {
  list-style: none;
}

.contact-circle img {
  aspect-ratio: 1/1;
  width: 40px;
}

.footer-row-contents {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 24px;
}

.footer-content-container {
  margin-bottom: 5px;
}

.md\:flex-row {
  @media(width >=48rem) {
    flex-direction: row;
    gap: calc(var(--spacing) * 4);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }
}

.small-div {
  background-color: var(--background);
  display: flex;
  flex-wrap: nowrap;
  padding: 24px;
  margin: 0px 0px 4px;
}

.title-div {
  width: 33.333333%;
  font-size: 20px;
  font-weight: bolder
}

.row-div {
  width: 33.333333%;
  font-size: 20px;
  font-weight: bold;
}

.paragraph {
  font-weight: bolder;
  font-size: 20px;
}